*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.vscode
# CDK asset staging directory
.cdk.staging
cdk.out

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
